*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    min-height: 100vh;
}

h1{
    font-weight: 700;
    color: white;
}

p{
    font-weight: 700;
    color: #293989;
}

/************ ENCABEZADO *************/
header{
    height: 60px;
    width: 100%;   
    background: #293989;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    width: 40%;
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .3s ease-out;  
}

#link-menu{
    line-height: 60px;
    color: white;
       
}

/************ NAVEGADOR *************/

#navegador{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/************ SECCIONES *************/
#main-section{
    width: 100%;
    height: 850px;
}

#section-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

#article-foto{
    background:white;
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto{
    height: 350px;
}

#article-presentacion{
    width: 70%;
    height: 400px;
    background:white;
}


/************ FORMULARIO *************/

#section-formulario{
    width: 100%;
    height: 450px;
    background:#293989;
}

#miformulario{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#titulo-presentacion{
    font-family: BungeeOutline-Regular;
    font-size: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #293989;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#titulo-mensaje{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #293989;
}

#input-box{
    width: 50%;
    height: 50px;
    margin: 10px;
    background-color: white;

}

#input-boton{
    width: 30%;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    color: #293989;
    border-color: whitesmoke;
    border-radius: 10px;
    
}

/************ PIE DE PAGINA *************/
#main-footer{
    width: 100%;
    height: 100px;
    background: #202364;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 20px;
    font-size:60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

